{
  "extends": "airbnb",
  "rules": {
    "import/no-unresolved": false,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": false
  },
  "env": {
      "browser": true,
      "jasmine": true
  }
}